body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #000080;
}

header {
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    color: white;
}

main {
    display: flex;
}
.qr{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 39px;
    width: 200px;
}
.text{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;

}
.anon1{
        width: 500px;
        display: block; 
        margin-left: 825px;
    }
.anon2{
    background-size: 20%;
}

.bien{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 20px;
}

footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}
